@import url("http://fonts.cdnfonts.com/css/cursed-timer-ulil");
body {
  margin: 0;
  user-select: none;
  background: linear-gradient(-45deg, #ffff00, #0000ff, #00ffff);
}
.main-container {
  width: 80%;
  height: 80vh;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.point-section,
.score-section {
  width: 40%;
}
.point-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px 0;
}
.circle {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.point-section h2 {
  text-transform: capitalize;
}
.score-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 20px;
}
.home-section,
.guest-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.home-section h1,
.guest-section h1 {
  margin-bottom: 0;
}
.period-section {
  text-transform: capitalize;
  text-align: center;
  margin-left: 4px;
}
.period-section h2 {
  margin-bottom: 0;
}
.period {
  background-color: black;
  padding: 0 10px;
  border-radius: 14px;
  color: white;
  margin-top: 0;
}

.home-board,
.guest-board {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 0 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

.player1-btn,
.player2-btn {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #ff0000; /* Replace with your desired color */
  cursor: pointer;
  scale: 2;
  margin-top: 35px;
  position: absolute;
  left: 25px;
  top: -16px;
}
.btn-circle {
  background-color: blue;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  position: relative;
  margin-top: 25px;
}
.new-game-section {
  text-transform: capitalize;
  text-align: center;
  padding: 13px 50px;
  border-radius: 30px;
  margin-top: 10px;
  cursor: pointer;
  background-color: aqua;
}
#new-game:hover {
  background-color: yellow;
  transform: scale(0.8);
  transition: transform 0.5s ease-in-out;
}
#home,
#guest {
  padding: 0 10px;
  border-radius: 3px;
}
.btn {
  border-color: transparent transparent transparent grey;
}

/* modal box section css */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 8px;
  top: -60px;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.modal-content {
  background-color: #f0dede;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 28%;
  height: 20vh;
  max-width: 400px;
  text-align: center;
  border-radius: 50% 0 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: #137001be;
  font-size: 40px;
  text-shadow: 1px 1 0px black;
}

.close {
  color: #f30e0e;
  float: right;
  font-size: 40px;
  font-weight: 900;
  cursor: pointer;
  scale: 1.5;
  position: absolute;
  top: -12px;
  right: 0px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
